@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="login-form-container">
            <h1 class="text-center h3">@ViewData["Title"]</h1>
            <h2>Create a new account</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="First Name" />
                <label asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="Last Name" />
                <label asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            <p>
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account? Login</a>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    /* Body Style */
    body {
        animation: fadeIn 1s ease-in;
        background-color: powderblue;
        font-family: 'Segoe UI', sans-serif;
    }

    /* Log In Title */
    form h1 {
        color: #2c3e50;
        font-size: 7rem; /* Increased font size for the log in title */
        font-weight: bold;
        text-transform: uppercase;
        text-align: center; /* Center title */
    }
    form h2 {
        color: black;
        font-size: 1rem;
        text-align: center;

    }

    /* Form Container */
    .login-form-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); /* Enhanced box shadow for better depth */
        padding: 30px;
        animation: slideInUp 1s ease-in-out;
        margin-top: 10px;
    }

    .form-floating {
        position: relative;
    }

    .form-control {
        border-radius: 8px;
        padding: 15px;
        font-size: 1.1rem;
    }

    .form-label {
        font-weight: 600;
    }

    .btn-primary {
        background-color: #3498db;
        border-color: #3498db;
        border-radius: 8px;
        padding: 12px 20px;
        font-size: 1.1rem;
        font-weight: 600;
        transition: all 0.3s;
    }

        .btn-primary:hover {
            background-color: #2980b9;
            border-color: #2980b9;
        }

    /* Links Style */
     form a {
        color: #3498db;
        font-weight: 600;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

    /* Text center for the links */
    .text-center {
        color: darkblue;
    }

    .text-centers {
        font-size: 1rem;
        color: #555;
    }

    /* Checkbox Style */
    .form-check-input {
        margin-right: 10px;
    }

    /* Animation for the form */
    keyframes fadeIn {
        from

    {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    }

    keyframes slideInUp {
        from

    {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

    }

    /* Center content vertically and horizontally */
    .row {
        min-height: 100vh;
    }

    .col-md-4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
